@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    padding-top: 70px;
    margin: 0;
   
}
/* styles/UserHeader.css */
/* WaterEffect.css */

.water-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.svg-bg {
  width: 100%;
  height: 100%;
}
